<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Заготовка магазина</title>
        <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Профиль</h1>
            <h5 th:text="'Name: ' + ${shopuser.firstName} + ' ' + ${shopuser.lastName}" />
            <h5 th:text="'Phone: ' + ${shopuser.phone}" />
        </div>
    </body>
</html>